<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    <h1>GuiaPress</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content" aria-controls="content" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="content">
    <ul class="navbar-nav ml-auto float-right">
      <li class="nav-item">
        <a href="/category/list" class="nav-link">Categorias</a>
      </li>
      <li class="nav-item">
        <a href="/article/list" class="nav-link">Artigos</a>
      </li>
    </ul>
  </div>
</nav>