<%- include('./partials/header') %>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          categories
        </p>
        <p>
          categories
        </p>
        <p>
          categories
        </p>
        <p>
          categories
        </p>
      </div>
    </div>
  </div>
</body>

<%- include('./partials/footer') %>