<%- include ('./partials/header') %>

<body>
<%- include ('./partials/navbar') %>

  <div class="container">
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, maxime. Praesentium dolore velit eveniet nihil ipsam, excepturi alias, ratione quos veritatis quaerat aut ducimus nam ut repudiandae voluptates deleniti voluptatem.
      </div>
    </div>
  </div>
</body>

<%- include ('./partials/footer') %>

