<%- include('../partials/header') %>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          Article Form
        </h1>
        <article>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat suscipit autem sapiente dolores necessitatibus mollitia veritatis adipisci ullam, cum, modi, ex accusamus excepturi soluta deleniti ea ipsa voluptatum ipsam repudiandae.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum nesciunt quos, cupiditate quia voluptates earum nisi eos iure aut! Voluptate at excepturi consectetur id voluptatem quisquam incidunt et asperiores aperiam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci est autem dolorum magnam nisi suscipit, fuga delectus architecto quae veritatis consequuntur nesciunt laboriosam, sed ipsa eius minima reprehenderit nostrum necessitatibus?
          </p>
        </article>
      </div>
    </div>
  </div>
</body>

<%- include('../partials/footer') %>
